@use "../../styles/theme";
@import "../../styles/colors";

.primary-input {
    height: theme.extent(4);
    background-color: $dark-black;
    color: $usual;
    border-radius: $border-radius-base;
    border: $border-grey;
    padding: theme.extent();

    &::placeholder {
        color: $grey;
    }

    &:hover,
    &:focus {
        border: $border-light;
    }

    &:focus-visible {
        outline: transparent;
    }

    &:disabled {
        color: $grey;
        border: $grey;
    }

    &.with-prefix {
        padding-left: theme.extent(3) + 6px;
    }

    &.with-postfix {
        padding-right: theme.extent(4);
    }

    &:focus ~ [id="label-input"],
    &:not(:placeholder-shown) ~ [id="label-input"] {
        font-size: $font-size-xs;
        color: $usual;
        transform: translateY(-1 * theme.extent(3));
    }
}
