@use "../../styles/theme.scss";
@import "../../styles/colors.scss";

.primary-navlink {
    color: $grey;
    text-decoration: underline;

    &:hover,
    &:visited {
        color: $usual-bright;
    }
}
