@use "../../styles/theme";
@import "../../styles/colors";

.primary-btn {
    cursor: pointer;
    border: $border-light;
    background-color: $usual;
    color: $dark;
    border-radius: $border-radius-base * 2;
    padding: theme.extent() theme.extent(4);

    &:disabled {
        cursor: not-allowed;
        background-color: $grey;
        border-color: $grey;
    }
}
