<div class="{{ styles.list }}">
    {{> searchBlock searchProps }}
    {{#if chatItems}}
        <ul class="{{ styles.list__ul }}">
            {{#each chatItems}}
                <li class="{{ styles.list__ul-item }}">
                    {{> item chatProps }}
                </li>
            {{/each}}
        </ul>
    {{/if}}
</div>
