<div class="flex-block">
    {{{ sidebar }}}
    <div class="empty-wrapper m-auto">
        {{{ centerText }}}
    </div>
    <div class="dialog-area show">
        {{{ dialog }}}
    </div>
    {{{ modal }}}
</div>
