<div class="flex-block">
    {{> sidebar sidebarProps }}
    <div class="empty-wrapper m-auto">
        {{> centerText textProps }}
    </div>
    <div class="dialog-area show">
        {{> dialog messagesProps }}
    </div>
</div>
