@use "./theme";
@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";
@import "./colors";
@import "./mixins";

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;
    color: $usual;
    background: linear-gradient(0deg, rgba(0, 0, 0, 30%), rgba(0, 0, 0, 30%)), url("../../static/images/bg-main.jpg");
    background-size: cover;
    height: 100vh;
}

#app {
    height: 100%;
}

#alert-block {
    position: fixed;
    right: theme.extent();
    bottom: 0;
    z-index: 50;
}

.rounded {
    border-radius: 50%;
}

.bg-dark {
    background-color: $dark;
}

.m-auto {
    margin: auto;
}

.w-100 {
    width: 100%;
}

.centered-container {
    @include flexCol;
    @include flexCenter;

    height: 100%;
}

.custom-form {
    width: 340px;
    box-shadow: $primary-box-shadow;
    border-radius: $border-radius-base;
}

.flex-block {
    height: 100%;
    display: flex;
}

.invalid-input {
    color: $danger;
    border-color: $danger;
}

.primary-form__input {
    margin-bottom: theme.extent(5);
}
