@use "../../styles/theme.scss";
@import "../../styles/mixins.scss";

.dialog-wrapper {
    @include flexCol;
    height: 100%;

    .dialog-wrapper__message-box {
        @include flexCol;
        overflow-y: auto;
        padding: theme.extent(4) theme.extent(3);
    }
}
