@use "../../styles/theme.scss";
@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

.sidebar__header {
    @include flexCol;
    @include flexCenter;

    .sidebar__header-avatar {
        margin: theme.extent(5) 0 theme.extent(3);
    }

    .sidebar__header__name-block {
        display: flex;
        margin-bottom: theme.extent(4);

        .sidebar__header__name {
            margin-right: theme.extent(1);
        }
    }
}
