@use "../../styles/theme";
@import "../../styles/colors";
@import "../../styles/mixins";

.list__search-form {
    display: flex;
    align-items: center;
    padding: 0 theme.extent(2) theme.extent(3);

    .add-button {
        width: 32px;
        height: 32px;
    }
}
