@use "../../styles/theme";

.profile__avatar {
    width: theme.extent(8);
    height: theme.extent(8);

    &[data-size="xl"] {
        width: theme.extent(15);
        height: theme.extent(15);
    }
}
