@use "../../styles/theme";
@import "../../styles/colors";

.iconed-btn {
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;

    &[data-size="xs"] {
        width: theme.extent(2);
        height: theme.extent(2);
    }

    &[data-size="xl"] {
        width: theme.extent(4);
        height: theme.extent(4);
    }

    &.bordered {
        background-color: $dark;
        border-radius: $border-radius-base;
        border: $border-light;
    }

    .iconed-btn__icon {
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
}
