@use "../../styles/theme";
@import "../../styles/colors";

.primary-navlink {
    color: $grey;
    text-decoration: underline;
    cursor: pointer;

    &:hover,
    &:visited {
        color: $usual-bright;
    }
}
