@use "../../styles/theme";
@import "../../styles/colors";
@import "../../styles/mixins";

.message-block {
    @include flexCol;

    max-width: theme.extent(53);
    margin-bottom: theme.extent();
    padding: theme.extent(2) theme.extent(2) theme.extent();
    justify-content: start;
    border-radius: $border-radius-base;

    &[type="self"] {
        align-self: end;
    }

    &[type="receiver"] {
        align-self: start;
    }

    .message-block__time {
        display: flex;
        align-self: end;
        color: $grey;
        margin-top: theme.extent();
    }
}
